#container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-item {  
    display: flex;
    margin: 1%;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-button {
    margin: 5%;
}

ion-thumbnail {
    --border-radius: 15px;
    margin: 2%;
    --size: 100%;
}