strong {
  display: block;
}

#cardImage{
  width: 80%;
  margin: 0;
}

#container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


ion-card {
  min-width: 300px;
  max-width: 25%;
  padding: 1%;
  text-align: center;
  max-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}